body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Victor Mono', monospace;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #1a1b1f;
    color: #92ba6f;
}

body.light-mode {
    background-color: #FBF1C9;
    color: #333;
}

#terminal {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

@media (min-width: 768px) {
    #terminal {
        padding: 100px;
    }
}

#output {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
}

#input-line {
    display: flex;
    margin-top: 10px;
}

#prompt {
    margin-right: 5px;
}

#command-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

.dark-mode #command-input {
    color: #92ba6f;
}

.light-mode #command-input {
    color: #333;
}

#output a, #output a.project-link {
    text-decoration: none;
}

.dark-mode #output a, .dark-mode #output a.project-link {
    color: #F0EAD6;
}

.light-mode #output a, .light-mode #output a.project-link {
    color: #0000EE;
}

#output a:hover, #output a.project-link:hover {
    text-decoration: underline;
}

.prompt-name {
    color: #5F9EA0;
}
.prompt-at {
    color: #FF6347;
}
.prompt-location {
    color: #98FB98;
}
.prompt-colon {
    color: #DDA0DD;
}
.prompt-path {
    color: #FFD700;
}
.prompt-tilde {
    color: #40E0D0;
}

/* Toggle switch styles */
.theme-switch-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
